
#use .cmd for personal .bat files
*.cmd

#compiled
*.o
*.dep
*.temp
*.elf
*.lnk
*.test


#nops last used port
comport.txt


#my todo
notes.txt

#os stuff
Desktop.ini

#working directories
/junk/
/debug/
/stuff/
/release_tools/
.vs/
Debug/


#decompilation research
/decom*/
/*decom*/



#stuff and or things
*.idb
*.cpe
*.map
*.sym
*.temp
*.crunched

stdout.txt
stderr.txt

#nops dumps
dump*

#dosbox stuff
dosbox.conf
dosbox.exe
sdl.dll
sdl_net.dll

exclude_pie.txt
